.bg-custom-dark {
  background-color: #a9a6a6;
}

.improvisation.nav-button {
  background-color: #777373;
  border-color: #777373;
  &:hover {
    background-color: #5f5959;
    border-color: #5f5959;
  }
}
