@import "../../GlobalStyleVariables.scss";

.nav-button {
  height: 3rem;
  min-width: 12rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.navbar {
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
  background-color: #28373e;
  border-color: #28373e;
}
